<h1>All Sneakers</h1>
<% @sneakers.each do |sneaker| %>
  <h4><a href="/sneakers/<%= sneaker.id %>"><%= sneaker.name %></a></h4>
  <img src="<%= sneaker.image_url %>" alt="<%= sneaker.name %>" height="200" width="200">
<br><br>
  <strong>Created At: <%= sneaker.created_at %></strong>
  <p><%= sneaker.description %></p>
  <p>By: <%= sneaker.user.username %></p>
<% end %>
