<h2><%= @sneaker.name %></h2>
<p>Category: <%= @sneaker.category %></p>
<p><%= @sneaker.description %></p>
<img src="<%= @sneaker.image_url %>" alt="<%= @sneaker.name %>" height="200" width="200">
<br>
<a href="/sneakers/<%= @sneaker.id %>/edit">Edit Sneaker</a>

<form class="" action="/sneakers/<%= @sneaker.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete This Sneaker">
</form>
